.search-bar.shown{
    max-height: 600px;
    opacity: 1;
    transition: opacity .3s linear .5s, max-height 1s ease-in-out;
}

.search-bar.hidden{
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height .5s ease-in-out, opacity .3s linear;
}

.normal-filter-form{
    padding-top: 1px;
}

.normal-filter-form > div{
    margin-right: 5px;
}

.normal-filter-form > .form-group .form-label{
    margin-right: 5px;
    height: 36px;
}

.normal-filter-form > .form-group input[type="text"]{
    height: 36px;
}

.normal-filter-form > .form-group button{
    min-width: 50px;
    height: 36px;
}